*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/*BOTÃO FLUTUANTE WHATSAPP*/

.whatsapp{
	position: fixed;
	bottom: 10px;
	right: 25px;
	padding: 5px;
	z-index: 10000000;
}
@media(max-width: 768px){
	.whatsapp{
		right: 10px;
	}
}

/*HEADER HEADER HEADER HEADER*/

#header{
	width: 100%;
	height: 150px;
	position: sticky;
	top: 0;
	z-index: 10000;
}
.header__blockWhite{
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: center;
	background: white;
}
.header__blockWhite-Title{
	font-size: 20px;
	color:  #B71F1F;
	margin: 18px ;
}
.header__blockWhite-Contato{
	color:  #B71F1F;
	margin: 18px;
	padding-bottom: 10px;

}

/*NAV NAV NAV NAV*/

.header__fixed{
	width: 100%;
	height: 29vh;
}
#header__nav{
	width: 100%
	max-width 1024px;
	height: 90px;
	background: #B71F1F;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.headerNav__Block{
	width: 100%;
	max-width: 1024px;
	position: relative;
}
.headerNav__logo{
	width: 170px;
	height: 165px;
	position: absolute;
	top: -60px;
	left: 100px;
}
.headerNav__navDesktop{
	margin-left: 320px;
	display: flex;

}
.headerNavDesktop__menuLink{
	color: white;
	padding: 7px;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
@media(max-width: 768px){
	.headerNav__navDesktop{
		margin-left: 0;
		padding: 20px;
		display: none; 
	}
	li{
		text-align: center;
	}
}
@media(max-width: 768px){
	.header__blockWhite{
		width: 100%;
		height: auto;
		flex-direction: column;
	}
	.header__blockWhite-Title{
		margin: 10px 0 0;
		text-align: center;
	}
	.header__blockWhite-Contato{
		text-align: center;
	}
	#header{
		height: 150px;
	}
	#header__nav{
		height: 88px;
	}

	.headerNav__logo{
		width: 160px;
		height: 150px;
		top: -20px;
		left: 60px;
	}
	
}
@media(max-width: 414px){
	.headerNav__logo{
		width: 130px;
		height: 130px;
		left: 50px;	
	}
	.mainHeaderBlock__info{
		min-width: 50%;
		height: 250px;
	}
	#header{
		height: 141px;
	}
	
}
@media(max-width: 320px){
	#header__nav{
		height: 80px;
	}
	.headerNav__logo{
		left: 40px;	
	}
}


/*MENU RESPONSIVO*/

.headerNavMobile__sidenav{
	width: 0;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #B71F1F;
	transition: 0.6s;
	padding-top: 80px;
}

.headerNavMobile__menuLink {
  padding: 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
.headerNavMobile__menuLink:hover:not(.active) {
  background-color: #555;
  color: white;
}

.closebtn {
	color: white;
	font-size: 55px;
	position: absolute;
	top: 0;
	right: 35px;
	display: none;
}
.headerNavMobile__logo{
	width: 100px;
	position: absolute;
	top: 10px;
	left: 25px;
}

span{
	display: none;
	float: right;
	padding: 1% 3%;
}
@media(max-width: 768px){
	.headerNavMobile__sidenav, .closebtn{
		display: block;
		overflow-x: hidden;
	}
	.closebtn{
		font-size: 50px;
		margin: 20px;
	}
	span{
		display: block;
	}

}
@media(max-height: 450px) {
  .headerNavMobile__sidenav {
  	padding-top: 15px;
  }
}


/*MAIN MAIN MAIN MAIN*/

main{
	height: auto;
}
.mainHeader__blockBackground{
	height: calc(100vh - 150px);
	background-size: cover;
	background-position: center;
	background-image: url("assets/image/headerfundo.jpg");

}
.mainHeaderBlock__transparent{
	width: 100%;
	height: calc(100vh - 150px);
	background: rgba(0,0,0,0.7) ;
	display: flex;
	align-items: center;
	justify-content: center;

}
.mainHeaderBlock__info{
	width: 50%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.mainHeaderBlock__title{ 
	text-align: center;
	color: white;
	font-size: 50px;
}
@media(max-width: 768px){
	.mainHeaderBlock__info{
		height: 250px;
	}
	.mainHeaderBlock__title{
		margin: 30px 0;
		font-size: 35px;
	}
}
@media(max-width: 414px){
	.mainHeaderBlock__info{
		width: 90vw;
		min-width: 50%;
		height: 250px;
	}
	.mainHeaderBlock__title{
		font-size: 28px;
	}
}

/*SOBRE SOBRE SOBRE SOBRE*/

.main__firstSecond{
	width: 100%
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: stretch;
	padding: 0 20px;
}
.firstSecond__block{
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px 20px;
	padding:  10px;
}
.firstSecond__title{
	font-size: 40px;
}
.firstSecond__paragraph, .firstSecond__title{
	width: 70%;
	color: black;
	padding: 10px 0;
}
.firstSecond__paragraph{
	font-size: 19px;
}
.firstSecond__imgPerfil{
	width: 300px;
	height: auto;

}

@media(max-width: 768px){
	.main__firstSecond{
		height: auto;
		align-items: center;
		flex-direction: column;
		margin-bottom: -5px;
	}
	.firstSecond__block{
		width: 100%;
		text-align: center;
	}
	.firstSecond__title{
		font-size: 26px;
	}
	.firstSecond__paragraph{
		font-size: 14px;
	}
	.firstSecond__imgPerfil{
		width: 200px;

	}
}

/*ATUAÇÃO ATUAÇÃO ATUAÇÃO ATUAÇÃO */

.main__secondSection{
	height: auto;
	background: #B71F1F;
}
.container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.secondSection__block{
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 0;
}
.secondSection__areas{
	width: 300px;
	height: auto;
	margin: 13px 10px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgba(255,255,255,0.7);	
	box-shadow: 0 0 8px #242121;

}
.secondAreas__border{
	width: 80px;
	height: 80px;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	margin: 40px 0 15px;

}
.secondSection__title{
	font-size: 20px;
	margin-bottom: 20px;
}
.secondSectionAreas__icons{
	width: 160px;
	height: 150px;
	margin: 5px;
	position: absolute;
	top: -25px;
	right: -49px;
	text-align: center;
}
li{
	color: black;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 20px;
	list-style: none;
}
@media(max-width: 768px){
	.secondSection__areas{
		margin: 9px;
	}
	
	.secondSection__areas{
		height: 400px;
	}

}

@media(max-width: 475px){
	.footer__infor{
		font-size: 20px;
	}

}
@media(max-width: 360px){
	.secondSection__areas{
		height: 410px;
		margin: 15px 20px;
	}

}
/*FOOTER  FOOTER  FOOTER  FOOTER */

.footer__information{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 2% 20px;
	display: flex;
	flex-direction: column;
}
.footer__paragraph{
	color: #B71F1F;
	padding: 4px;
	text-align: center;
	font-size: 15px;
}
.footer__blockNetwork{
	display: flex;
	justify-content: center;
}
strong{
	text-transform: uppercase;
	font-weight: bolder;
}
.footer__icon-redes{
	width: 35px;
	height: auto;
	margin: 9px 7px;
}
@media(max-width: 768px){
	.footer__information{
		/*height: 74vh;*/
		height: 780px;
		padding: 7%;
	}
	.footer__paragraph{
		font-size: 15px;
		/*margin: 0px 15px;*/
	}
	
}
@media(max-width: 414px){
	.footer__information{
		/*height: 68vh;*/
		height: 520px;
	}
}
@media(max-width: 374px){
	.footer__information{
		/*height: 58vh;*/
		height: 380px;
	}
}
@media(max-width: 320px){
	.footer__information{
		/*height: 58vh;*/
		height: 320px;
	}
}
/*MEDIA GLOBAL*/

@media(min-width: 769px) and (max-width: 1440px){
	.header__blockWhite{
		height: auto;
	}
	.header__blockWhite-Title, .header__blockWhite-Contato{
		margin: 20px 10px 30px;
	}
	.headerNav__logo{
		width: 160px;
		height: 150px;
		top: -55px;
	}
	.main__firstSecond{
		height: auto;
	}
	.main__firstSecond{
		margin-bottom: -4.8px;
	}

	.secondSection__areas{
		height: 410px;

	}
}
